@import "tailwindcss";

:root {
  --bg-primary: #0a0a0f;
  --bg-secondary: #0f0f1a;
  --bg-neutral: #1E293B;
  --bg-card: #13131f;
  --accent-purple: #7c3aed;
  --accent-purple-light: #a855f7;
  --text-primary: #ffffff;
  --text-secondary: #94a3b8;
  --border: #1e1e2e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
}